body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    text-align: justify;
}

h1{
    font-size: 45px;
}

.name{
    color: orangered;
}

section{
    display: flex;
    margin-bottom: 120px;
}

.first-part{
    width: 50%;
    padding-left: 5%;
}
.first-part img{
    width: 70%;
    padding-top: 5%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orangered, tomato);
    padding: 10px 40px;
    color: white;
    border-radius: 10px;
    font-weight:700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.second-part{
    width: 50%;
    padding-right: 5%;
}
.second-part img{
    width: 70%;
    padding-left: 13%;
}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.third-part{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}

h2{
    font-size: 40px;
}

.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full-dev{
    border-image:linear-gradient(blue, cyan);
    border-image-slice: 1;
    border-left: 5px solid;
}
#junior-dev{
    border-image:linear-gradient(green, rgb(0, 255, 76));
    border-image-slice: 1;
    border-left: 5px solid;
}
footer p{
    text-align: center;
}