body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    text-align: justify;
}

h1{
    font-size: 45px;
}

.name{
    color: orangered;
}

section{
    display: flex;
    margin-bottom: 120px;
}

.first-part{
    width: 50%;
    padding-left: 5%;
}
.first-part img{
    width: 70%;
    padding-top: 5%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orangered, tomato);
    padding: 10px 40px;
    color: white;
    border-radius: 10px;
    font-weight:700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.second-part{
    width: 50%;
    padding-right: 5%;
}
.second-part img{
    width: 70%;
    padding-left: 13%;
}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}